<section id="hero" class="d-flex align-items-center">
    <div class="container">

        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>Elevate Productivity with Our Employee Management System</h1>
                <p class="fw-normal">
                    Streamline, Organize, and Empower Your Team for Optimal Performance
                </p>
                <a href="#" class="btn btn-primary rounded w-25"> Get Started</a>
            </div>
            <div class="col-md-6 order-lg-2 order-1 hero-img">
                <img src="~/image/hero-img.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!--Testing....-->