@{
    ViewData["Title"] = "View Employees";
}

<partial name="~/Views/Shared/_Notification.cshtml" />

<div class="container">
    <div class="d-flex flex-column">
        <div class="col-md-10 mb-3">
            <div  style="background: #43aa8b;">
                <span class="d-flex justify-content-between p-2">
                    <a class="text-white mx-2 fw-bold" aria-current="page" asp-area="" asp-controller="Employee" asp-action="Employees" style="text-decoration:none;">Dashboard</a>
                    <a asp-area="" asp-controller="Employee" asp-action="AddEmployee" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-custom-class="custom-tooltip"
                       data-bs-title="Add Data">
                        <ion-icon name="person-add-outline" class="fs-4 text-white mx-3 pe-auto"></ion-icon>
                    </a>
                </span>
            </div>
        </div>
        <div class="col col-md-10">
            <table class="display table table-bordered table-striped " id="dataTable">
                    <thead>
                        <tr>
                            @* <th scope="col">Id</th> *@
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Position</th>
                            <th scope="col">Email</th>
                            <th scope="col">Department</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
        </table>
        </div>
    </div>
</div>

@section scripts{

<script type="text/javascript" src="~/js/jquery.dataTables.js" ></script>
<link rel="stylesheet" href="~/css/jquery.dataTables.css" />
<script>
    $(function () {
        const table = $('#dataTable').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
            responsive: true,
            ajax: {
                "url": "/Employee/GetData",
                "type": "GET",
                "dataType": "json",
                dataSrc: '',
            },
            "columns": [
    
                
                { "data": "name" },
                { "data": "address" },
                { "data": "salary" },
                { "data": "phone",orderable:false },
                { "data": "position" },
                { "data": "email" },
                { "data": "department" },
                {
                    data: null,
                    className: "dt-editor delete",
                    defaultContent: '<ion-icon name="trash-outline" class="fs-5 text-danger"></ion-icon>',
                    orderable: false
                }, {
                    data: null,
                    className: "dt-editor editor-edit",
                    defaultContent: '<ion-icon name="create-outline" class="fs-5 dt-editor editor-edit cursor-pointer"></ion-icon>',
                    orderable: false
                },
            ],
        //table edit
            "createdRow" : function (row, data, dataIndex) {
                // Add data-id attribute to the row
                $(row).attr("data-id", data.id);

                // Add click event for delete icon
                $(".delete", row).on("click", function () {
                    var id = $(row).data("id");
                   var confirm = window.confirm("Are you sure to delete this item?")
                   if(confirm){
                       window.location.href = "/Employee/DeleteEmployee/" + id;
                   }
                });

                // Add click event for edit icon
                $(".editor-edit", row).on("click", function () {
                    var id = $(row).data("id");
                    // Redirect to the edit page with the corresponding ID
                    window.location.href = "/Employee/UpdateEmployee/" + id;
                });
            }
        });

    });
</script>
}