@{
    ViewBag.Title = "Employee | Admin Area";

    Layout = "_AdminLayout";
}


<div class="container">
    <h5>
        Dashboard
    </h5>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush bg-danger">
            <li class="list-group-item">@empCount</li>
            <li class="list-group-item">A second item</li>
        </ul>
    </div>
</div>